.title_thumb { /* Значок в nav */ 
  margin: 0 5px;
  width: 30px;
  height: 30px;
}

h1,
.display-1,
.display-2,
span,
p,
a {
  line-height: 1;
  word-break: break-word; /* перенос слів, якщо перевищені границі */
  font-weight: 400; 
}
.text-block .mbr-text,
.text-block .mbr-section-btn {
  color: #353535;
  text-align: center;
}

.text-block {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #bed3f9;
}
.text-block .image-wrapper img {
  width: 100%;
  object-fit: cover;
}

.text-block .mbr-section-title {
  text-align: center;
}

.btn-secondary {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
}
.btn-secondary:hover {
  background-color: #ff0f0f !important;
}

.mbr-section-btn {
  margin-left: -0.6rem;
  margin-right: -0.6rem;
  font-size: 0;
}
.mbr-section-btn a.btn {
  border-radius: 100px;
}

.display-1 {
  font-family: "Jost", sans-serif;
  font-size: 2.8rem;
  line-height: 1.1;
}
.display-2 {
  font-family: "Jost", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.carousel-block {
  margin: 60px 50px;
}

.card-block {
  background-color: #bed3f9;
}

.card-block img {
  height: 300px;
}
.card-item {
  width: 300px;
  margin: 20px 60px;
}
.card-item .title {
  font-family: "Jost", sans-serif;
  font-size: 35px;
  line-height: 1.5;
}
.card-item .text {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.footer {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #232323;
  color: #ffffff;
}

.footer a {
  font-family: "Jost", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-decoration: none;
  color: #0d6efd;
}
.footer a:hover {
  color: #0dcaf0;
}

@media (max-width: 768px) {
  .text-block .text-wrapper {
    margin-bottom: 2rem;
    margin-bottom: 2rem;
  }
}
